.front .tabs {
  display: none;
}

.upcoming-events-list {
	margin-left:auto;
	margin-right:auto;
}
.upcoming-events-list .date-display-single {
 font-weight : bold;
	margin:auto;
	width:50%;
}

.form-submit .cboxElement {

background-color : orange;
}
