.page-user table {
   border: 1px solid lightgray; 
}

.page-user td {
  vertical-align: top; 
       padding: .4em; 
}

.page-user #profile_title {
  font-weight: bold; 
	font-size: 2em;
}

.page-user .user-picture img{
float : right;
top : 90px;

}

.page-user .field-label {
	padding:5px;
	padding-top:25px;
	font-weight: bold;
}

# Removes header that says "History"
.page-user h3 {
	display:none;
}


.page-user .field-item {
padding:5px;border:1px solid #ccc;height:auto; width: 410px;
}

/*hide the text at the top of the edit page*/
.page-user-edit .inner .content p {
   display: none;
}


.field-name-field-user-phone,
.field-name-field-user-public-rsvp,
.field-name-field-user-fullname,
.password-strength
{
	display:none;
}

.description 
{
	display:none;
}
