.page-user table {
    border: 1px solid lightgray;
}

.page-user td {
    vertical-align: top;
    padding: .4em;
}

.page-user #profile_title {
    font-weight: bold;
    font-size: 2em;
}

.page-user .user-picture {
   float: right;
}

.page-user .field {
    float:left;
}

.page-user .region {
    clear:both;
}

.page-user .brick-email-link {
    float: left;
}

.page-user .field-name-field-user-subscribed .field-label {
    float: left;
    padding-top: 10px;
}

.page-user .field-name-field-user-phone .field-label {
    float: left;
    padding-top: 10px;

}

.page-user dl {
}

.page-user .field-label {
    font-weight: bold;
    display: inline;

}

/* Removes header that says "History" */
.page-user h3 {
    display: none;
}

.page-user .field-item {
    padding: 10px;
    padding-left: 30px;
    height: auto;
    width: 410px;
}

/*hide the text at the top of the edit page*/
.page-user-edit .inner .content p {
    display: none;
}

.field-name-email .field-label {
    display: none;
    padding-top: 10px;

}

.field-name-field-user-public-rsvp,
.password-strength {
    display: none;
}

.description {
    display: none;
}
